extends baseEmail

block content
    p Hi #{name},
    p Congratulations! You've been accepted to join TeamSphere. We're thrilled to have you on board! 🎉🚀
    p As a part of our team, don't forget to upload your user photo to help us recognize you better.
    img(src="#", alt="TeamSphere Logo" style="display: block; margin: 0 auto; max-width: 100%; height: auto;")
    a(href=url, style="display: block; margin: 20px auto; text-align: center; text-decoration: none; color: #fff; background-color: #007bff; padding: 10px 20px; border-radius: 5px;") Return to TeamSphere
    p If you have any questions or need assistance with getting started, feel free to reach out.
    p - Yassine Jallouli, CEO
