extends baseEmail

block content
    p Hi #{name},
    p We regret to inform you that your application to join TeamSphere has been declined. We appreciate your interest in our platform.
    p If you have any questions or would like further clarification, please don't hesitate to reach out to us.
    p - Yassine Jallouli, CEO